<%= _.template(require('./../includes/header-index.html'))() %>
    <div id="page-preloader" class="preloader">
        <div class="loader"></div>
    </div>
    <header class="header header_bg bg-01">
        <div class="container">
            <div class="header__row header__row_index">
                <div class="d-flex flex-column flex-lg-row justify-content-start align-items-center">
                    <div class="logo logo_main"></div>
                    <div class="header__info">
                        <h1 class="h1_index"><span class="sp1">Der weltweit</span> <br class="d-block d-xxl-none"><span class="sp2">führende Dating</span> <br><span class="sp3">Assistent</span></h1>
                        <a href="#" class="btn btn_3">Meine Treffer Freischalten</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="collage">
        <img class="collage__img_xs" src="img/index-collage-xs.jpg" alt="">
        <img class="collage__img_lg" src="img/index-collage-lg.jpg" alt="">
    </section>
    <main class="main">
        <div class="container">
            <div class="index-content">
                <div class="index-content__title1">FLIRTEN SIE</div>
                <div class="row">
                    <div class="col-12 col-xl-6 pr-xl-5">
                        <div class="index-content__title3">
                            <div class="index-content__title31">WIR HABEN UNSERE</div>
                            <div class="index-content__title32">HAUSAUFGABEN GEMAHT</div>
                        </div>
                        <p>Schlüsselfaktoren besteht, die Menschen mit gleicher Denkweise erfolgreich zusammenbringen: Leben, Freiheit und kultureller Hintergrund. CM, wie es abgekürzt wird, bringt Menschen zusammen, die ähnliche Tätigkeiten, Leidenschaften und Zukunftsziele aufweisen. Wir haben dem Online-Dating-Prozess auch unsere eigene persönlichen Note verliehen, indem wir sicherstellen, dass Ihr Erlebnis für Sie besonders bleibt und speziell auf Sie zugeschnitten ist.</p>
                    </div>
                    <div class="col-12 col-xl-6 pl-xl-5">
                        <div class="index-content__title2">
                            <div class="index-content__title21">GREN</div>
                            <div class="index-content__title22">YENLOS</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-6 pr-xl-5">
                        <p>Anstatt endlos nach dem am besten passenden Partner zu suchen, senden wir Ihnen jeden Tag einen einzigen personalisierten Treffer per E-Mail. Da diese Partnervorstellungen sorgfältig auf Grundlage Ihrer CM-Punktzahl (Leben, Freiheit und kultureller Hintergrund) ausgewählt wurden, haben Sie mehr Zeit zum Chatten und zum Planen Ihres ersten Dates.</p>
                    </div>
                    <div class="col-12 col-xl-6 pl-xl-5">
                        <p>Wir glauben an Offenheit und bedingungslose Transparenz. Das sollen auch unsere Benutzerprofile auf jede erdenkliche Weise widerspiegeln. Mit einer simplen und freundlichen Gestaltung zeigen unsere Profile ganz deutlich alle Details an, die Sie benötigen, um eine fundierte Entscheidung zu treffen.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>