<%= _.template(require('./../includes/header.html'))() %>
    <script>
        document.querySelector('body').classList.add('no-push-bottom-mob');
    </script>
    <main class="main">
        <div class="container">
            <div class="user-profile">
                <div class="user-profile-slider-wrap">
                    <div class="user-profile-slider owl-carousel">
                        <div class="slide" style="background-image: url('img/photos/ava.jpg');"></div>
                        <div class="slide" style="background-image: url('img/photos/user-02.jpg');"></div>
                        <div class="slide" style="background-image: url('img/photos/user-03.jpg');"></div>
                        <div class="slide" style="background-image: url('img/photos/ava.jpg');"></div>
                        <div class="slide" style="background-image: url('img/photos/user-04.jpg');"></div>
                    </div>
                    <div class="user-profile-btn-wrap">
                        <a class="btn btn_w100 user-profile-btn" href="#">Meine Treffer Freischalten</a>
                    </div>
                </div>
                <div class="user-profile-info">
                    <div class="user-profile-info__inner">
                        <div class="user-profile-row">
                            <div class="user-profile-name">Stephanie, 26</div>
                            <div class="user-profile-loc">München (3000 km)</div>
                        </div>
                        <div class="user-profile-title text-center text-xl-left">Kompatibilitätsbewertung  15 000</div>
                        <div class="compatibility compatibility_mb d-flex justify-content-between justify-content-sm-center justify-content-xl-start justify-content-xl-start">
                            <div class="compatibility__chart">
                                <div class="compatibility__progress">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar_bg" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="compatibility__title">Interessen</div>
                            </div>
                            <div class="compatibility__chart">
                                <div class="compatibility__progress">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar_bg" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="compatibility__title">Ort</div>
                            </div>
                            <div class="compatibility__chart">
                                <div class="compatibility__progress">
                                    <div class="progress">
                                        <div class="progress-bar progress-bar_bg" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="compatibility__title">Streichhölzer</div>
                            </div>
                        </div>
                    </div>
                    <div class="user-profile-about">
                        <div class="user-profile-title user-profile-about__title text-center text-xl-left">Über sie</div>
                        <p>Schlüsselfaktoren besteht, die Menschen mit gleicher Denkweise erfolgreich zusammenbringen: Leben, Freiheit und kultureller Hintergrund. CM, wie es abgekürzt wird, bringt Menschen zusammen, die ähnliche Tätigkeiten, Leidenschaften und Zukunftsziele aufweisen. Wir haben dem Online-Dating-Prozess auch unsere eigene persönlichen Note verliehen, indem wir sicherstellen, dass Ihr Erlebnis für Sie besonders bleibt und speziell auf Sie zugeschnitten ist.</p>
                        <p>Anstatt endlos nach dem am besten passenden Partner</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
<%= _.template(require('./../includes/footer.html'))() %>