.header {
  position: relative;
  .notice {
    display: inline-block;
    border-radius: 0;
    background-color: $btn_bg_color;
    color: #fff;
    font-size: 15px;
    font-family: $font_family;
    font-weight: 300;
    padding: 7px 15px;
    line-height: 1;
    text-align: center;
    @media (min-width: 992px) {
      font-size: 25px;
      padding: 9px 23px 11px;
    }
  }
  &.expand {
    .header__row {
      //background-color: $bg_dark_1;
      @media (min-width: 768px) {
        background-color: transparent;
      }
    }
  }
  &.bg-01 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-01.jpg");
      @media (min-width: 1200px) {
        //background-image: url('../img/bg/bg-firstscreen.svg');
      }
    }
    .firstscreen-photo {
      @media (min-width: 1200px) {
        //background-image: url("../img/bg/desktop/bg-01.jpg");
      }
    }
  }
  &.bg-02 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-02.jpg");
      @media (min-width: 1200px) {
        //background-image: url('../img/bg/bg-firstscreen.svg');
      }
    }
    .firstscreen-photo {
      @media (min-width: 1200px) {
        //background-image: url("../img/bg/desktop/bg-02.jpg");
      }
    }
  }
  &.bg-03 {
    .header__firstscreen {
      background-image: url("../img/bg/mobile/bg-03.jpg");
      @media (min-width: 1200px) {
        //background-image: url('../img/bg/bg-firstscreen.svg');
      }
    }
    .firstscreen-photo {
      @media (min-width: 1200px) {
        //background-image: url("../img/bg/desktop/bg-03.jpg");
      }
    }
  }
}
.body_bg {
  &.light1 {
    background-color: $bg_light_1;
  }
  &.light2 {
    background-color: $bg_light_2;
  }
  .header {
    background-color: $body_bg_color;
    padding-bottom: 30px;
    @media (min-width: 768px) {
      padding-bottom: 60px;
    }
    @media (min-width: 992px) {
      padding-bottom: 90px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 0;
    }
  }
}

.header_page {
  margin-bottom: 20px;
  @media (min-width: 768px) {
    margin-bottom: 60px;
  }
  @media (min-width: 992px) {
    margin-bottom: 90px;
  }
  @media (min-width: 1920px) {
    margin-bottom: 90px;
  }
}

.header__row {
  padding: 20px 0 0;
  @media (min-width: 992px) {
    padding: 69px 0 0;
  }
  &.header__row_login {
    padding: 48px 0 0;
    @media (min-width: 1200px) {
      padding: 78px 0 0;
      margin-bottom: 10px;
    }
    @media (min-width: 1500px) {
      margin-bottom: 54px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 54px;
    }
  }
  &.header__row_index {
    padding: 112px 0 0;
    margin-bottom: 0;
    @media (min-width: 1200px) {
      padding: 78px 0 0;
      margin-bottom: 10px;
    }
    @media (min-width: 1500px) {
      margin-bottom: 54px;
    }
    @media (min-width: 1920px) {
      margin-bottom: 54px;
    }
  }
}

.header__userinfo {
  padding-left: 30px;
  max-width: 500px;
  .notice {
    margin-left: 23px;
    //position: relative;
    //top: -2px;
    @media (min-width: 992px) {
      //top: -3px;
      margin-left: 62px;
    }
  }
  .header__userinfo-text,
  a.header__userinfo-text {
    font-family: $font_family2;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: $font_color2;
    text-decoration: none;
    word-break: break-all;
    @media (min-width: 992px) {
      font-size: 23px;
      line-height: 28px;
    }
    &:hover {
      .notice {
        background-color: $btn_hover_bg_color;
      }
    }
  }
}

.firstscreen-row {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @media (min-width: 1200px) {
    flex-direction: row;
  }
  .firstscreen-inf {
    width: 100%;
    @media (min-width: 992px) {
      width: 580px;
      margin: 0 auto;
    }
    @media (min-width: 1200px) {
      width: 470px;
      min-width: 470px;
      max-width: 470px;
      margin: 0;
    }
    @media (min-width: 1500px) {
      width: 480px;
      min-width: 480px;
      max-width: 480px;
    }
    @media (min-width: 1920px) {
      width: 523px;
      min-width: 523px;
      max-width: 523px;
    }
  }
  .firstscreen-img {
    display: none;
    @media (min-width: 1200px) {
      display: block;
      width: 580px;
      min-width: 580px;
      max-width: 580px;
      height: 619px;
    }
    @media (min-width: 1500px) {
      display: block;
      width: 790px;
      min-width: 790px;
      max-width: 790px;
      height: 843px;
    }
    @media (min-width: 1920px) {
      width: 970px;
      min-width: 970px;
      max-width: 970px;
      height: 1050px;
    }
    .firstscreen-photo {
      width: 100%;
      background-position: 50%;
      background-size: cover;
      background-repeat: no-repeat;
      @media (min-width: 1200px) {
        height: 619px;
        border-radius: 0 250px;
      }
      @media (min-width: 1500px) {
        height: 843px;
        border-radius: 0 400px;
      }
      @media (min-width: 1920px) {
        height: 1050px;
      }
    }
  }
}


.header__firstscreen {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 35px;
  border-radius: 0 0 0 119px;
  @media (min-width: 1200px) {
    border-radius: 0;
    background-size: 669px;
    background-position: 110% 140%;
  }
  @media (min-width: 1500px) {
    background-position: 100% 200%;
  }
  @media (min-width: 1920px) {
    background-position: top right;
  }
  @media (min-width: 2150px) {
    background-position: 100% 130%;
    background-size: 40%;
  }
}

.header__info {
  width: 100%;
  @media (min-width: 768px) {
    width: auto;
  }
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    width: 100%;
  }
}

.header__form {
  width: 100%;
  margin-bottom: 92px;
  @media (min-width: 768px) {
    margin: 0 auto 63px;
  }
  @media (min-width: 992px) {
    margin: 0 0 63px;
  }
  @media (min-width: 1200px) {
    width: 100%;
    margin: 0;
  }
  @media (min-width: 1500px) {}
  @media (min-width: 1920px) {}
  &.login {
    margin-bottom: 44px;
    @media (min-width: 768px) {
      margin: 0 auto 63px;
    }
    @media (min-width: 992px) {
      margin: 0 0 63px;
    }
    @media (min-width: 1200px) {
      margin: 0;
    }
  }
}

.collage {
  overflow: hidden;
  margin-bottom: 46px;
  @media (min-width: 992px) {
    overflow: visible;
    position: relative;
    margin-bottom: 80px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 132px;
  }
}

.collage__img_xs {
  display: block;
  width: 100%;
  @media (min-width: 768px) {
    position: static;
    width: 100%;
  }
  @media (min-width: 992px) {
    display: none;
  }
}

.collage__img_lg {
  display: none;
  @media (min-width: 992px) {
    display: block;
    width: 100%;
  }
}