.logo {
  width: 46px;
  height: 46px;
  background-image: url('../img/icons/logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  @media (min-width: 992px) {
    width: 102px;
    height: 102px;
  }
}

.logo_main {
  width: 144px;
  height: 144px;
  margin: 0 auto 50px;
  background-image: url('../img/icons/logo-white.svg');
  @media (min-width: 992px) {
    background-image: url('../img/icons/logo.svg');
    width: 312px;
    height: 312px;
    margin: 0 140px 0 0;
  }
  @media (min-width: 1200px) {
    margin: 0 141px 0 0;
  }
}

.logo_login {
  width: 89px;
  height: 89px;
  margin: 0 auto 41px;
  background-image: url('../img/icons/logo-white.svg');
  @media (min-width: 992px) {
    background-image: url('../img/icons/logo.svg');
    width: 175px;
    height: 175px;
    margin: 0 135px 0 0;
  }
  @media (min-width: 1200px) {
    margin: 0 135px 0 0;
  }
}