.settings-form {
  padding-top: 34px;
  @media (min-width: 1200px) {
    padding-top: 0;
    margin: 0;
  }
  @media (min-width: 1500px) {
    margin: 0 0 0 45px;
  }
  @media (min-width: 1920px) {
    margin: 0 0 0 45px;
  }
}

.settings-photo {
  margin: 0 -15px;
  position: relative;
  @media (min-width: 400px) {
    width: 320px;
    max-width: 320px;
    margin: 60px auto 0;
  }
  @media (min-width: 768px) {
    width: 600px;
    max-width: 600px;
  }
  @media (min-width: 1200px) {
    width: 500px;
    max-width: 500px;
    margin: 0;
  }
  @media (min-width: 1500px) {
    width: 650px;
    max-width: 650px;
  }
  @media (min-width: 1920px) {
    width: 755px;
    max-width: 755px;
  }
}

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  height: 484px;
  max-height: 484px;
  overflow: hidden;
  background-color: $bg_dark_1;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  @media (min-width: 768px) {
    height: 712px;
    max-height: 712px;
  }
  @media (min-width: 1200px) {
    height: 593px;
    max-height: 593px;
  }
  @media (min-width: 1500px) {
    height: 771px;
    max-height: 771px;
  }
  @media (min-width: 1920px) {
    height: 896px;
    max-height: 896px;
  }
  .profile-photo__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &.is_photo {
    .profile-photo__overlay {
      background-color: rgba(255, 243, 228, 0.3);
    }
  }
}

.form-check-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.d-xxl-none {
  @media (min-width: 1500px) {
    display: none;
  }
}