.user-list {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 32px;
  justify-content: space-between;
  margin: 0 -15px;
  @media (min-width: 350px) {
    margin: 0;
  }
  @media (min-width: 348px) {
    justify-content: space-around;
  }
  @media (min-width: 1200px) {
    padding-bottom: 70px;
  }
  @media (min-width: 1920px) {
    justify-content: space-between;
    padding: 0 0 76px;
  }
  &.user-list_slider {
    @media (min-width: 992px) {
      padding-bottom: 150px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 150px;
    }
    @media (min-width: 1920px) {
      padding: 0 0 150px;
    }
  }
}

.user-list-item {
  width: 320px;
  display: flex;
  flex-direction: row;
  background-color: $bg_light_1;
  border-radius: 0;
  margin: 0 auto 22px;
  position: relative;
  @media (min-width: 350px) {
    margin: 0 0 22px;
  }
  @media (min-width: $user_list_item_breakpoint) {
    width: 755px;
    margin: 0 0 109px;
    border-radius: 0;
  }
  .user-list-item__pic {
    width: 141px;
    max-width: 141px;
    min-width: 141px;
    height: 113px + 33px;
    max-height: 113px + 33px;
    border-radius: 0;
    overflow: hidden;
    @media (min-width: $user_list_item_breakpoint) {
      width: 327px;
      max-width: 327px;
      min-width: 327px;
      height: 262px + 77px;
      max-height: 262px + 77px;
      border-radius: 0;
    }
    .user-list-item__img {
      width: 100%;
      height: 113px;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      position: relative;
      @media (min-width: $user_list_item_breakpoint) {
        height: 262px;
      }
    }
    .user-list-item__btn {
      height: 33px;
      font-size: 10px;
      padding: 10px 15px 9px;
      @media (min-width: $user_list_item_breakpoint) {
        height: 77px;
        font-size: 23px;
        padding: 24px 25px 22px;
      }
    }
  }
  .user-list-item__inf {
    color: $font_color2;
    padding: 21px 15px 22px 25px;
    height: 113px + 33px;
    max-height: 113px + 33px;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 50px 47px 45px 58px;
      height: 262px + 77px;
      max-height: 262px + 77px;
    }
    .user-list-item__title {
      margin-bottom: 15px;
      @media (min-width: $user_list_item_breakpoint) {
        margin-bottom: 41px;
      }
      .user-list-item__name {
        font-family: $font_family;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 4px;
        @media (min-width: $user_list_item_breakpoint) {
          margin-bottom: 11px;
          font-size: 34px;
          line-height: 42px;
        }
      }
      .user-list-item__loc {
        font-family: $font_family;
        font-weight: 300;
        font-size: 11px;
        line-height: 15px;
        @media (min-width: $user_list_item_breakpoint) {
          font-size: 23px;
          line-height: 34px;
        }
      }
    }
    .compatibility-title {
      font-family: $font_family;
      font-weight: 700;
      font-size: 7px;
      margin-bottom: 10px;
      text-transform: uppercase;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 18px;
        margin-bottom: 26px;
      }
    }
  }
}

.user-list-title {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 15px;
  line-height: 40px;
  margin-bottom: 28px;
  color: $user_list_title_color;
  @media (min-width: $user_list_item_breakpoint) {
    font-size: 41px;
    line-height: 127px;
    margin-bottom: 40px;
  }
  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
  @media (min-width: 1920px) {
    padding-top: 40px;
  }
}

.user-list-extra {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding: 0 0 30px;
  @media (min-width: 348px) {
    justify-content: space-around;
  }
  @media (min-width: 1200px) {
    padding-bottom: 20px;
  }
  @media (min-width: 1500px) {
    justify-content: space-between;
  }
  @media (min-width: 1920px) {
    justify-content: flex-end;
    padding: 0 0 20px;
  }
  &.owl-carousel {
    .owl-dots {
      bottom: -7px;
      @media (min-width: 992px) {
        bottom: 62px;
      }
    }
  }
}

.user-list-extra-item {
  width: 134px;
  display: flex;
  flex-direction: column;
  background-color: $body_bg_color;
  border-radius: 0;
  position: relative;
  margin-bottom: 20px;
  @media (min-width: $user_list_item_breakpoint) {
    width: 332px;
    margin-bottom: 40px;
  }
  @media (min-width: 1920px) {
    margin-left: 90px;
  }
  .user-list-extra-item__pic {
    max-width: 134px;
    min-width: 134px;
    height: 102px;
    max-height: 102px;
    border-radius: 0;
    overflow: hidden;
    position: relative;
    @media (min-width: $user_list_item_breakpoint) {
      max-width: 332px;
      min-width: 332px;
      height: 251px;
      max-height: 251px;
      border-radius: 0;
    }
    .user-list-extra-item__img {
      width: 100%;
      height: 102px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      @media (min-width: $user_list_item_breakpoint) {
        height: 251px;
      }
    }
    .user-list-extra-item__icon {
      color: $bg_light_1;
      font-family: $font_family2;
      font-weight: 400;
      font-size: 12px;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 24px;
      }
    }
  }
  .user-list-extra-item__inf {
    background-color: $bg_light_1;
    color: $font_color2;
    text-align: center;
    padding: 8px 15px;
    border-radius: 0;
    z-index: 5;
    position: relative;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 15px 30px 18px;
      border-radius: 0;
    }
    .user-list-extra-item__name {
      font-family: $font_family;
      font-weight: 700;
      font-size: 10px;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 27px;
      }
    }
    .user-list-extra-item__loc {
      font-family: $font_family;
      font-weight: 300;
      font-size: 7px;
      margin-top: 2px;
      @media (min-width: $user_list_item_breakpoint) {
        margin-top: 6px;
        font-size: 18px;

      }
    }
  }
}